@page "{id:int}"
@model CoreEstate.Pages.ForSale.DetailsModel
@using CoreEstate.Models

@{
    ViewData["Title"] = Model.ForSaleProperty.Name + " for sale";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="icon-navigation">
    <a asp-page="./Index">
        <div class="icon-navigation-icon">
            <i data-fa-symbol="back-arrow" class="fa-solid fa-arrow-left"></i>
            <svg class="icon"><use href="#back-arrow"></use></svg>
        </div>
        <div class="icon-navigation-text">
            Back to property results
        </div>
    </a>
</div>

<div>    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForSaleProperty.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForSaleProperty.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForSaleProperty.IsFreehold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForSaleProperty.IsFreehold)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForSaleProperty.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForSaleProperty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForSaleProperty.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForSaleProperty.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForSaleProperty.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForSaleProperty.Description)
        </dd>
    </dl>
</div>

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    @if (User.IsInRole(RoleName.IsPropertyManager))
    {
        <div class="icon-navigation">
            <a asp-page="./Viewings" asp-route-id="@Model.ForSaleProperty.Id">
                <div class="icon-navigation-icon">
                    <i data-fa-symbol="eye-viewing" class="fa-solid fa-eye"></i>
                    <svg class="icon"><use href="#eye-viewing"></use></svg>
                </div>
                <div class="icon-navigation-text">
                    Viewings
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="icon-navigation">
            <a asp-page="./Request" asp-route-id="@Model.ForSaleProperty.Id">
                <div class="icon-navigation-icon">
                    <i data-fa-symbol="eye-viewing" class="fa-solid fa-eye"></i>
                    <svg class="icon"><use href="#eye-viewing"></use></svg>
                </div>
                <div class="icon-navigation-text">
                    Request viewing
                </div>
            </a>
        </div>
    }
}
