@page
@model CoreEstate.Pages.ForSale.IndexModel

@{
    ViewData["Title"] = "For sale properties";
}

<h1>@ViewData["Title"]</h1>
<hr />

@foreach (var item in Model.ForSaleProperties)
{
    <div class="card">
        <a asp-page="./Details" asp-route-id="@item.Id">
            <div class="card-header">
                @Html.DisplayFor(modelItem => item.Name) for sale
            </div>
        </a>
        <div class="card-body">
            <div class="card-left">
                <a asp-page="./Details" asp-route-id="@item.Id">
                    @if (item.Photos.Count > 0)
                    {
                        <img class="img-fluid rounded" src="~/uploads/@item.Photos.ElementAtOrDefault(0).Filename" />
                    }
                    else
                    {
                        <img class="img-fluid rounded" src="~/uploads/no-image-available.png" />
                    }
                </a>
            </div>
            <div class="card-right">
                <h5 class="card-subtitle">
                    @Html.DisplayNameFor(modelItem => item.Price)
                </h5>
                <h3 class="card-title">
                    £@Html.DisplayFor(modelItem => item.Price)
                </h3>
                <h6 class="card-text">
                    @Html.DisplayFor(modelItem => item.Address)
                </h6>
                <span class="propertyDescription card-text">@Html.DisplayFor(modelItem => item.Description)</span>
                @if (item.IsFreehold)
                {
                    <p class="card-text fw-light">
                        Freehold Property
                    </p>
                }
                else
                {
                    <p class="card-text fw-light">
                        Leasehold Property
                    </p>
                }
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
        const PROPERTY_DESCRIPTION_LENGTH = 384;

        $(document).ready(function () {
            $('.propertyDescription').each(function () {
                var descriptionText = $(this).text()
                if (descriptionText.length > PROPERTY_DESCRIPTION_LENGTH) {
                    var lastSpace = descriptionText.indexOf(" ", PROPERTY_DESCRIPTION_LENGTH);
                    if (lastSpace > 0) {
                        $(this).text($(this).text().substring(0, lastSpace) + " ...");
                    }
                }
            });
        });
    </script>
}
