@page
@model CoreEstate.Pages.ForSale.ManageModel

@{
    ViewData["Title"] = "For sale properties";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="icon-navigation">
    <a asp-page="./Create">
        <div class="icon-navigation-icon">
            <i data-fa-symbol="add-plus" class="fa-solid fa-plus"></i>
            <svg class="icon"><use href="#add-plus"></use></svg>
        </div>
        <div class="icon-navigation-text">
            Add new for sale property
        </div>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForSaleProperties[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForSaleProperties[0].IsFreehold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForSaleProperties[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForSaleProperties[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForSaleProperties[0].Description)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ForSaleProperties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFreehold)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                    &nbsp;
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-secondary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
