@page "{id:int}"
@model CoreEstate.Pages.ForSale.RequestModel

@{
    ViewData["Title"] = "Request viewing of " + Model.ForSaleProperty.Name + " for sale";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="icon-navigation">
    <a asp-page="./Details" asp-route-id="@Model.ForSaleProperty.Id">
        <div class="icon-navigation-icon">
            <i data-fa-symbol="back-arrow" class="fa-solid fa-arrow-left"></i>
            <svg class="icon"><use href="#back-arrow"></use></svg>
        </div>
        <div class="icon-navigation-text">
            Back to property details
        </div>
    </a>
</div>

<div class="row">
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForSaleProperty.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForSaleProperty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForSaleProperty.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForSaleProperty.Address)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyViewing.Date" class="form-label"></label>
                <input asp-for="PropertyViewing.Date" class="form-control" />
                <span asp-validation-for="PropertyViewing.Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Request Viewing" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>
