@page "{id:int}"
@model CoreEstate.Pages.ToRent.ConfirmViewingModel

@{
    ViewData["Title"] = "Confirm to rent viewing";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="icon-navigation">
    <a asp-page="./Viewings" asp-route-id="@Model.PropertyViewing.ToRentPropertyId">
        <div class="icon-navigation-icon">
            <i data-fa-symbol="back-arrow" class="fa-solid fa-arrow-left"></i>
            <svg class="icon"><use href="#back-arrow"></use></svg>
        </div>
        <div class="icon-navigation-text">
            Back to viewings
        </div>
    </a>
</div>

<div class="row">
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyViewing.ToRentProperty.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyViewing.ToRentProperty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyViewing.ToRentProperty.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyViewing.ToRentProperty.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyViewing.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyViewing.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyViewing.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyViewing.Date)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyViewing.Confirmed" class="form-check-label"></label>
                <input asp-for="PropertyViewing.Confirmed" class="form-check-input" />
                <span asp-validation-for="PropertyViewing.Confirmed" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>
