@page "{id:int}"
@model CoreEstate.Pages.ToRent.DetailsModel
@using CoreEstate.Models

@{
    ViewData["Title"] = Model.ToRentProperty.Name + " to rent";
}

<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
        <hr />

        <div class="icon-navigation">
            <a asp-page="./Index">
                <div class="icon-navigation-icon">
                    <i data-fa-symbol="back-arrow" class="fa-solid fa-arrow-left"></i>
                    <svg class="icon"><use href="#back-arrow"></use></svg>
                </div>
                <div class="icon-navigation-text">
                    Back to property results
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                @if (Model.ToRentProperty.Photos.Count > 0)
                {
                    <div id="propertyPhotosCarousel" class="carousel slide">
                        <div class="carousel-indicators">
                            @{
                                var photoCount = 0;
                            }
                            @foreach (var item in Model.ToRentProperty.Photos)
                            {
                                @if (photoCount == 0)
                                {
                                    <button type="button" data-bs-target="#propertyPhotosCarousel" data-bs-slide-to="@photoCount" class="active" aria-current="true" aria-label="Property photo"></button>
                                }
                                else
                                {
                                    <button type="button" data-bs-target="#propertyPhotosCarousel" data-bs-slide-to="@photoCount" aria-label="Property photo"></button>
                                }

                                photoCount++;
                            }
                        </div>
                        <div class="carousel-inner">
                            @{
                                photoCount = 0;
                            }
                            @foreach (var item in Model.ToRentProperty.Photos)
                            {
                                @if (photoCount == 0)
                                {
                                    <div class="carousel-item active">
                                        <img class="img-fluid d-block rounded" src="~/uploads/@item.Filename" />
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <img class="img-fluid d-block rounded" src="~/uploads/@item.Filename" />
                                    </div>
                                }

                                photoCount++;
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#propertyPhotosCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#propertyPhotosCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }
                else
                {
                    <img class="img-fluid rounded" src="~/uploads/no-image-available.png" />
                }
            </div>

            <div class="row property-details fs-5">
                <h3 class="row fw-normal">
                    @Html.DisplayFor(model => model.ToRentProperty.Name) for sale
                </h3>
                <div class="row">
                    <div class="property-details-title">
                        @Html.DisplayNameFor(model => model.ToRentProperty.Rent)
                    </div>
                    <div class="property-details-text">
                        @Html.DisplayFor(model => model.ToRentProperty.Rent)
                    </div>
                </div>
                <div class="row">
                    <div class="property-details-title">
                        @Html.DisplayNameFor(model => model.ToRentProperty.Despoit)
                    </div>
                    <div class="property-details-text">
                        @Html.DisplayFor(model => model.ToRentProperty.Despoit)
                    </div>
                </div>
                <div class="row">
                    <div class="property-details-title">
                        @Html.DisplayNameFor(model => model.ToRentProperty.Address)
                    </div>
                    <div class="property-details-text">
                        @Html.DisplayFor(model => model.ToRentProperty.Address)
                    </div>
                </div>
                <div class="row">
                    <div class="property-details-title">
                        @Html.DisplayNameFor(model => model.ToRentProperty.Description)
                    </div>
                    <div class="property-details-description">
                        <span>@Html.DisplayFor(model => model.ToRentProperty.Description)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="row">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole(RoleName.IsPropertyManager))
                    {
                        <a asp-page="./Viewings" asp-route-id="@Model.ToRentProperty.Id">
                            <div class="viewing-icon-navigation">

                                <div class="icon-navigation-icon">
                                    <i data-fa-symbol="eye-viewing" class="fa-solid fa-eye"></i>
                                    <svg class="icon"><use href="#eye-viewing"></use></svg>
                                </div>
                                <div class="icon-navigation-text">
                                    Viewings
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a asp-page="./Request" asp-route-id="@Model.ToRentProperty.Id">
                            <div class="viewing-icon-navigation">
                                <div class="icon-navigation-icon">
                                    <i data-fa-symbol="eye-viewing" class="fa-solid fa-eye"></i>
                                    <svg class="icon"><use href="#eye-viewing"></use></svg>
                                </div>
                                <div class="icon-navigation-text">
                                    Request viewing
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
