@page
@model CoreEstate.Pages.ToRent.ManageModel

@{
    ViewData["Title"] = "To Rent Properties";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a asp-page="Create">Add New To Rent Property</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Rent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Despoit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Description)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToRentProperties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Despoit)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
