@page
@model CoreEstate.Pages.ToRent.ManageModel

@{
    ViewData["Title"] = "To rent properties";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="icon-navigation">
    <a asp-page="./Create">
        <div class="icon-navigation-icon">
            <i data-fa-symbol="add-plus" class="fa-solid fa-plus"></i>
            <svg class="icon"><use href="#add-plus"></use></svg>
        </div>
        <div class="icon-navigation-text">
            Add new to rent property
        </div>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Rent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Despoit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRentProperties[0].Description)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToRentProperties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Despoit)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <span class="propertyDescription">@Html.DisplayFor(modelItem => item.Description)</span>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                    &nbsp;
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-secondary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        const PROPERTY_DESCRIPTION_LENGTH = 128;

        $(document).ready(function () {
            $('.propertyDescription').each(function () {
                var descriptionText = $(this).text()
                if (descriptionText.length > PROPERTY_DESCRIPTION_LENGTH) {
                    var lastSpace = descriptionText.indexOf(" ", PROPERTY_DESCRIPTION_LENGTH);
                    if (lastSpace > 0) {
                        $(this).text($(this).text().substring(0, lastSpace) + " ...");
                    }
                }
            });
        });
    </script>
}
