@page "{id:int}"
@model CoreEstate.Pages.ToRent.RequestModel

@{
    ViewData["Title"] = "Request viewing of " + Model.ToRentProperty.Name + " to rent";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="icon-navigation">
    <a asp-page="./Details" asp-route-id="@Model.ToRentProperty.Id">
        <div class="icon-navigation-icon">
            <i data-fa-symbol="back-arrow" class="fa-solid fa-arrow-left"></i>
            <svg class="icon"><use href="#back-arrow"></use></svg>
        </div>
        <div class="icon-navigation-text">
            Back to property details
        </div>
    </a>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToRentProperty.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToRentProperty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToRentProperty.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToRentProperty.Address)
        </dd>
    </dl>

    <form method="post">
        <div class="mb-3">
            <label asp-for="PropertyViewing.Date" class="form-label"></label>
            <input asp-for="PropertyViewing.Date" class="form-control" />
            <span asp-validation-for="PropertyViewing.Date" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <input type="submit" value="Request Viewing" class="btn btn-outline-primary" />
        </div>
    </form>
</div>
